.jp-portrait{
  width: 100%;
  height: 100%;
}

.jp-portrait img {
  position: absolute;
  width: auto;
  transform: translate(-50%,-50%);
}

.imgContainer,
.textContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hide-overflow{
  overflow: hidden;
}

.textContainer {
  z-index: 10;
}
